article {
  margin: 2rem;
}

ul li span::before {
  content: "\A";
  white-space: pre;
  line-height: 2
}

h1 {
  color: rgb(206, 64, 21);
}

.teacherList {
  margin: 1vh;
}

.teacherList li {
  padding: 2vh;
  background: #ddd;
  border-bottom: 2px solid white;
}