/* General */

section {
  margin: 2rem;
}

/* all schools page */

article {
  margin: 2rem;
}

.schoolsList.ul li span::before {
  content: "\A";
  white-space: pre;
  line-height: 2;
}

.schoolsList h1 {
  color: rgb(206, 64, 21);
}

.schoolsList a {
  text-decoration: none;
  color: unset;
  font-size: 2.4vh;
}

.schoolsList li {
  padding: 2vh;
  margin: 1vh;
  background: rgba(133, 133, 133, 0.171);
  background: rgba(221, 221, 221, 0.616);
  list-style-type: none;
  border-bottom: 2px solid gray;
  border-radius: 4px;
}

.schoolsList li:hover {
  background: rgb(112, 112, 112);
  opacity: .5;
}

/* selectedSchool Section */

.selectedSchool ul {
  overflow: hidden;
  padding-left: 0;
  list-style-type: none;
}

.selectedSchool table {
  border-collapse: collapse;
  border-radius: 0 0 10px 10px;
  width: 90vw;
  overflow: auto;
  list-style-type: none;
}

.selectedSchool thead th {
  padding: .32rem;
}

.selectedSchool tbody tr, tbody td {
  padding: 2.3vh;
  background: #ddd;
  border-bottom: 2px solid white;
}

.selectedSchool tbody td {
  width: 10%;
}

.teacher {
  font-weight: 700;
}

/* Mobile Responsive Tables */

@media all and (max-width:500px) {
  .selectedSchool thead {
    display: flex;
    flex-direction: column;
    padding: .40vh;
    padding-bottom: 0%;
  }
  .selectedSchool thead tr:nth-child(2) {
    color: rgba(102, 102, 102, 0.904);
  }
  .selectedSchool tbody tr {
    display: flex;
    flex-direction: column;
    width: 99vw;
    margin-top: 3vh;
    padding: 0%;
  }
  .selectedSchool tbody td {
    width: auto;
  }
  .selectedSchool tbody tr:nth-child(1) {
    margin-top: 0%;
  }
}